@model DoAn.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Xóa Sản Phẩm</h2>

<h3>Bạn có thực sự muốn xóa Sản phẩm?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhBia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XuatXu.TenNSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XuatXu.TenNSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiSanPham.TenLoaiThucPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSanPham.TenLoaiThucPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Xóa" class="button button1" />
        </div>

    }
    <div style="margin-left:14px">
        <a href="@Url.Action("IndexAdmin","QuanLySanPham")"><input type="submit" value="Về trang Quản Lý" class="button button2" /></a>

    </div>
</div>
<style>
    .button {
        background-color: Crimson;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        background-color: MidnightBlue;
    }

    .button2 {
        background-color: SeaGreen;
    }
</style>