
@using DoAn.Models;
@model List<GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}

<h2>Giỏ Hàng</h2>

<table id="divGioHang">

    <tr>
        <td>Mã Sản Phẩm</td>

        <td>Tên Sản Phẩm</td>

        <td>Ảnh Sản Phẩm</td>

        <td>Giá Sản Phẩm  </td>

        <td>Số Lượng Sản Phẩm</td>

        <td>Thành Tiền :</td>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>@item.iMaSP</td>

            <td>@item.sTenSp</td>

            <td>
                <a href="@Url.Action("XemChiTiet", "NongSan", new { @MaSP=item.iMaSP})">
                    <img src="@Url.Content("~/HinhAnh/AnhSP/Rau/"+ item.sHinhAnh)" width="60" height="60" />
                </a>
            </td>

            <td>@String.Format("{0:0,0}", item.dDonGia) VNĐ/KG </td>

            <td>@item.iSoLuong </td>

            <td>@String.Format("{0:0,0}", item.ThanhTien) VNĐ/KG   </td>

        </tr>
    }
    <tr>
        <td colspan="6" style="text-align:right">
            @Html.ActionLink("Chỉnh Sửa Giỏ Hàng ", "SuaGioHang")
        </td>
    </tr>

    <tr>
        <td colspan="6" style="text-align:right">
           @using (Html.BeginForm("DatHang", "GioHang"))
            {
                <input type="submit" value="Đặt Hàng">
            }
        </td>
    </tr>
</table>


<style>
    #divGioHang{
        border:1px solid #EEEEEE;
        margin-left:10%;
    }
        #divGioHang td {
            padding: 10px;
            border: 1px solid #EEEEEE;
        }


</style>





